.hero-phrases span {
    animation: fadein 6s infinite;
  }
  @keyframes fadein {
    0% {opacity: 0;}
    10% {opacity: 1;}
    90% {opacity: 1;}
    100% {opacity: 0;}
  }

.dropdown-menu {
  min-width: 160px;
  z-index: 50;
  transition: opacity 0.3s ease;
}
.dropdown:hover .dropdown-menu {
  display: block;
}

img {
  transition: transform 0.3s ease;
}

img:hover {
  transform: scale(1.05);
}
